.main-table {
  margin: 10px;
}

.main-table,
.nested-table {
  border-collapse: collapse;
  width: 100%;
}

.main-table th,
.main-table td,
.nested-table th,
.nested-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

.main-table th,
.nested-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nested-table td {
  line-height: 0.6;
}
